// Footer
// ----------------------------------------------------------------------------

.footer {
  background: rgb(250, 250, 250);
  border-top: 1px solid #eee;
  font-size: 87.5%;
  margin-top: 3.4286em;
  padding: 1.1429em;
}
