{# index.twig #}
{% extends "layouts/master.twig" %}
{% block content %}
        <section class="hero">
            <div class="hero-body">
                <div class="wrapper">
                    <h1 class="hero-title">Gulp Boilerplate</h1>
                    <p class="hero-subtitle">A boilerplate for building web projects with Gulp.js.</p>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="wrapper">
                <div class="row">
                    <div class="column">
                        <article class="markdown-content">
                            <h2>Getting Started</h2>
                            <h3>Features</h3>
                            <ul>
                                <li>Compile, minify, autoprefix SASS files.</li>
                                <li>Compile, concatenate and minify JavaScript.</li>
                                <li>Render Twig templates.</li>
                                <li>Optimise GIF, JPEG, PNG and SVG images.</li>
                                <li>Archive <code>dist</code> content.</li>
                                <li>Watch for file changes, and automatically recompile build.</li>
                                <li>Hot reloading with <code>browser-sync</code>.</li>
                            </ul>
                            <h3>Quick Start</h3>
                            <pre><code>
# 1 Clone this repo
git clone https://github.com/mavisland/boilerplate.git

# 2 Navigate into the repo directory
cd boilerplate

# 3 Install all node packages
npm install

# 4 Get started
npm run start
                            </code></pre>
                            <h3>Requirements</h3>
                            <p>This project requires you have <a href="https://nodejs.org/" rel="nofollow">Node.js</a> with <a href="https://www.npmjs.com/get-npm" rel="nofollow">npm</a> installed. This project requires you have a global installation of <a href="https://www.npmjs.com/package/gulp-cli" rel="nofollow">gulp-cli</a>.</p>
                            <pre><code>
# Install gulp globally
npm install -g gulp-cli
                            </code></pre>
                            <h2>Documentation</h2>
                            <p>Add your source files to the appropriate <code>src</code> subdirectories. Gulp.js will process and and compile them into <code>dist</code>.</p>
                            <h3>Styles</h3>
                            <p>Files in the <code>src/scss</code> directory will be compiled to <code>dist/css</code>.</p>
                            <h3>Scripts</h3>
                            <p>Put your JavaScript files in the <code>src/js</code> directory. Files placed directly in the <code>src/js</code> folder will compile directly to <code>dist/js</code> as both minified and unminified files.</p>
                            <h3>Templates</h3>
                            <p>Put your <code>Twig</code> templates in the <code>src/html</code> directory. Files placed directly in the <code>src/html</code> folder will compile directly to <code>dist</code>.</p>
                            <h3>Images</h3>
                            <p>Place GIF, JPEG, PNG and SVG images in the <code>src/images</code> directory. Images will be optimized with <code>imagemin</code> plugins and compiled into <code>dist/images</code>.</p>
                            <h3>Images</h3>
                            <p>Converts a series of images in the <code>src/sprites/image</code> folder to a sprite sheet and CSS styles.</p>
                            <h2>Options</h2>
                            <h3>Tasks</h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Task Name</th>
                                        <th>Task Decription</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>archive</td>
                                        <td>Archive <code>dist</code> content</td>
                                    </tr>
                                    <tr>
                                        <td>build</td>
                                        <td>Run all tasks</td>
                                    </tr>
                                    <tr>
                                        <td>images</td>
                                        <td>Optimise GIF, JPEG, PNG and SVG images</td>
                                    </tr>
                                    <tr>
                                        <td>serve</td>
                                        <td>Watch for changes to the <code>src</code> directory</td>
                                    </tr>
                                    <tr>
                                        <td>scripts</td>
                                        <td>Concanate &amp; minify JavaScript files</td>
                                    </tr>
                                    <tr>
                                        <td>sprites</td>
                                        <td>Your images, icons, et al convert a spritesheet</td>
                                    </tr>
                                    <tr>
                                        <td>styles</td>
                                        <td>Compile, autoprefix &amp; minify SASS files</td>
                                    </tr>
                                    <tr>
                                        <td>templates</td>
                                        <td>Render Twig templates</td>
                                    </tr>
                                    <tr>
                                        <td>watch</td>
                                        <td>Watch all file changes</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h3>Paths</h3>
                            <p>Adjust the <code>input</code>, <code>output</code>, <code>watch</code> paths for all of the Gulp.js tasks under the <code>paths</code> variable. Paths are relative to the root project folder.</p>
                            <div class="highlight highlight-source-js">
                                <pre>
<span class="pl-c">// Paths</span>
<span class="pl-k">const</span> <span class="pl-s1">paths</span> <span class="pl-c1">=</span> <span class="pl-kos">{</span>
    <span class="pl-c1">archive</span>: <span class="pl-kos">{</span>
        <span class="pl-c1">input</span>: <span class="pl-s">"dist/**"</span><span class="pl-kos">,</span>
        <span class="pl-c1">output</span>: <span class="pl-s">"build/"</span><span class="pl-kos">,</span>
    <span class="pl-kos">}</span><span class="pl-kos">,</span>
    <span class="pl-c1">copy</span>: <span class="pl-kos">{</span>
        <span class="pl-c1">scripts</span>: <span class="pl-kos">{</span>
            <span class="pl-c1">input</span>: <span class="pl-s">"src/vendor/modernizr-3.11.2.min.js"</span><span class="pl-kos">,</span>
            <span class="pl-c1">output</span>: <span class="pl-s">"dist/js/"</span> <span class="pl-kos">,</span>
        <span class="pl-kos">}</span><span class="pl-kos">,</span>
    <span class="pl-kos">}</span><span class="pl-kos">,</span>
    <span class="pl-c1">images</span>: <span class="pl-kos">{</span>
        <span class="pl-c1">input</span>: <span class="pl-kos">[</span>
            <span class="pl-s">"src/images/*.{gif,ico,jpg,png,svg}"</span><span class="pl-kos">,</span>
            <span class="pl-s">"src/sprites/s.png"</span>
        <span class="pl-kos">]</span><span class="pl-kos">,</span>
        <span class="pl-c1">output</span>: <span class="pl-s">"dist/images"</span><span class="pl-kos">,</span>
        <span class="pl-c1">watch</span>: <span class="pl-kos">[</span>
            <span class="pl-s">"src/images/*.{gif,ico,jpg,png,svg}"</span><span class="pl-kos">,</span>
            <span class="pl-s">"src/sprites/s.png"</span>
        <span class="pl-kos">]</span><span class="pl-kos">,</span>
    <span class="pl-kos">}</span><span class="pl-kos">,</span>
    <span class="pl-c1">scripts</span>: <span class="pl-kos">{</span>
        <span class="pl-c1">input</span>: <span class="pl-kos">[</span>
            <span class="pl-s">"src/js/plugins.js"</span><span class="pl-kos">,</span>
            <span class="pl-s">"src/js/main.js"</span>
        <span class="pl-kos">]</span><span class="pl-kos">,</span>
        <span class="pl-c1">output</span>: <span class="pl-s">"dist/js"</span><span class="pl-kos">,</span>
        <span class="pl-c1">watch</span>: <span class="pl-s">"src/js/**/*.js"</span><span class="pl-kos">,</span>
    <span class="pl-kos">}</span><span class="pl-kos">,</span>
    <span class="pl-c1">server</span>: <span class="pl-kos">{</span>
        <span class="pl-c1">root</span>: <span class="pl-s">"dist/"</span><span class="pl-kos">,</span>
    <span class="pl-kos">}</span><span class="pl-kos">,</span>
    <span class="pl-c1">sprites</span>: <span class="pl-kos">{</span>
        <span class="pl-c1">input</span>: <span class="pl-s">"src/sprites/**/*.svg"</span><span class="pl-kos">,</span>
        <span class="pl-c1">output</span>: <span class="pl-s">"dist/images"</span><span class="pl-kos">,</span>
    <span class="pl-kos">}</span><span class="pl-kos">,</span>
    <span class="pl-c1">styles</span>: <span class="pl-kos">{</span>
        <span class="pl-c1">input</span>: <span class="pl-s">"src/scss/*.scss"</span><span class="pl-kos">,</span>
        <span class="pl-c1">output</span>: <span class="pl-s">"dist/css"</span><span class="pl-kos">,</span>
        <span class="pl-c1">watch</span>: <span class="pl-s">"src/scss/**/*.scss"</span><span class="pl-kos">,</span>
    <span class="pl-kos">}</span><span class="pl-kos">,</span>
    <span class="pl-c1">templates</span>: <span class="pl-kos">{</span>
        <span class="pl-c1">input</span>: <span class="pl-s">"src/html/*.twig"</span><span class="pl-kos">,</span>
        <span class="pl-c1">output</span>: <span class="pl-s">"dist/"</span><span class="pl-kos">,</span>
        <span class="pl-c1">watch</span>: <span class="pl-s">"src/html/**/*.twig"</span><span class="pl-kos">,</span>
    <span class="pl-kos">}</span><span class="pl-kos">,</span>
<span class="pl-kos">}</span><span class="pl-kos">;</span>
                                </pre>
                            </div>
                            <h2>License</h2>
                            <p>The code is available under the <a href="/mavisland/gulp-boilerplate/blob/master/LICENSE.md">MIT License</a>.</p>
                        </article>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
