{# index.twig #}
{% extends "layouts/master.twig" %}
{% block content %}
    <h1>Hello world! This is Gulp Boilerplate.</h1>
    <ul>
        <li><span class="icon icon-website"></span></li>
        <li><span class="icon icon-github"></span></li>
        <li><span class="icon icon-twitter"></span></li>
        <li><span class="icon icon-telegram"></span></li>
        <li><span class="icon icon-linkedin"></span></li>
    </ul>
{% endblock %}
