// Grid
// ----------------------------------------------------------------------------

.wrapper {
  margin: 0 auto;
  position: relative;
  width: 100%;

  @include breakpoint(desktop) {
    max-width: 960px;
  }
  @include breakpoint(widescreen) {
    max-width: 1152px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;

  @include breakpoint(tablet) {
    display: flex;
  }
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 15px;
}
