{# index.twig #}
{% extends "layouts/master.twig" %}
{% block content %}
    <div style="text-align: center">
        <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore necessitatibus voluptatum eveniet molestias <br>fuga explicabo mollitia in quas facere tenetur optio assumenda velit praesentium illum nulla voluptas voluptatibus, adipisci sunt.</p>
    </div>
{% endblock %}
