<footer role="contentinfo">
	<div class="container">
		<p>Made by <a href="http://github.com/mavisland">@mavisland</a>. Code on <a href="http://github.com/mavisland/boilerplate">GitHub</a>.</p>
	</div>
</footer>