    <footer class="footer">
        <div class="wrapper">
            <div class="row">
                <div class="column text-center">
                    <ul class="list-inline">
                        <li><a href="javascript:;" target="_blank"><span class="icon icon-website"></span></a></li>
                        <li><a href="javascript:;" target="_blank"><span class="icon icon-github"></span></a></li>
                        <li><a href="javascript:;" target="_blank"><span class="icon icon-twitter"></span></a></li>
                        <li><a href="javascript:;" target="_blank"><span class="icon icon-telegram"></span></a></li>
                        <li><a href="javascript:;" target="_blank"><span class="icon icon-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="column text-center">
                    <p>Developed with ❤️ using <a href="https://gulpjs.scom">gulp.js</a> by <a href="https://github.com/mavisland/">Tanju Yıldız</a></p>
                </div>
            </div>
        </div>
    </footer>
