    <header class="header" id="header">
        <div class="wrapper">
            <nav class="navbar">
                <a href="index.html" class="logo">Gulp Boilerplate</a>
                <div class="menu-wrapper">
                    <ul class="menu">
                        <li class="menu-item"><a href="https://github.com/mavisland/gulp-boilerplate">Source Code</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header><!-- .header -->
